.blog-list-item {
    margin: 8px;
    box-shadow: -3px 1px 9px 0px #adadad;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.blog-lits-item__title {
    margin: 8px;
}

.blog-lits-item__post {
    margin: 8px;
}

.blog-lits-item__footer {
    display: flex;
    flex-flow: row;
}

.blog-lits-item__date {
    margin: 8px;
}

.blog-lits-item__author {
    margin: 8px;
}