.filter-sector {
    margin: 8px;
    padding: 8px;

    box-shadow: -3px 1px 9px 0px #adadad;
}

.filter-form {
    display: flex;
    flex-flow: column;

    margin: 8px;
}

.filter-submit {
    margin: 8px;
}