/*
Fonts*/
* {
    font: small-caption;
}

/*
MarkUp
*/
.item-header {
    grid-area: header;
}

.item-main {
    min-width: 250px;
    grid-area: main;
    margin: 16px;
    box-shadow: -3px 1px 9px 0px #adadad;
}

.item-sidebar {
    grid-area: sidebar;
    margin: 16px;
}

.item-footer {
    grid-area: footer;
}

@media (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 50px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    }
}

@media (max-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 50px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "sidebar sidebar sidebar sidebar" "main main main main" "footer footer footer footer";
    }
}

/*
App - style
*/
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
